.box{
    width: 100%;
    height: fit-content;
    background-color: black;

    clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0%) ;
}
.heading{
    font-family: cursive;
    padding-left: 35%;
    padding-top: 6%;
    padding-bottom: 3%;
    color: white;
}
.container{
   /* padding-top: 15%; */
    padding-left: 1%;

}
button{
    border: none;
}
.whiteBtn{
    height: 160px ;
    width: 37px;
    color: rgb(17, 17, 17);
}
.container2{
    position: relative;
    top: -160px;
    left: 30px;
}
.blackBtn{
    background-color: black;
    height: 100px ;
    width: 37px;
    color: white;
}
.btnHide{
    visibility: hidden;
}
.clickStyle{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 37px;
    box-shadow: 1px 1px 2px rgb(41, 0, 241);
}
.typed{
    width: 100%;
    min-height: 20px;
    background-color: rgb(7, 6, 6);
    color: white;
    position: relative;
}
.reset{
  color: red;
  width: 10% ;
  height: 30px;
  position: relative;
  left: 45%;
  border: none;
}
.moreClick{
    color: red;
}
span{
    position: relative;
    top: 35px;
}